@page
@model ContactsModel
@{
    ViewData["Title"] = "Contacts";
}

<div id="app"></div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
    <script src="~/dist/contacts.js" asp-append-version="true"></script>
}
