@page
@model LicenseModel
@{
    ViewData["Title"] = "License";
}
<h1>@ViewData["Title"]</h1>

<div class="license-info">
    <p class="lead">This software is made available under open source licenses.</p>
    
    <h2>Mail Migration Tool</h2>
    <p>
        This software is licensed under the 
        <a href="https://raw.githubusercontent.com/hagenson/btsx/license.txt" target="_blank" rel="noopener noreferrer">
            MIT license
            <i class="bi bi-box-arrow-up-right ms-1"></i>
        </a>.
    </p>
    
    <h2>Third-Party Components</h2>
    <p>
        Portions of this software have been developed by Yuxi (Evan) You and Vue contributors and is used under the 
        <a href="https://raw.githubusercontent.com/vuejs/core/refs/heads/main/LICENSE" target="_blank" rel="noopener noreferrer">
            MIT License
            <i class="bi bi-box-arrow-up-right ms-1"></i>
        </a>.
    </p>
    <p>
        Portions of this software have been developed by .NET Foundation and Contributors and is used under the 
        <a href="https://raw.githubusercontent.com/jstedfast/MailKit/refs/heads/master/LICENSE" target="_blank" rel="noopener noreferrer">
            MIT License
            <i class="bi bi-box-arrow-up-right ms-1"></i>
        </a>.
    </p>
    <p>
        Portions of this software have been developed by Twitter. Inc, and The Bootstrap Authors and is used under the 
        <a href="https://raw.githubusercontent.com/twbs/bootstrap/refs/tags/v5.2.3/LICENSE" target="_blank" rel="noopener noreferrer">
            MIT License
            <i class="bi bi-box-arrow-up-right ms-1"></i>
        </a>.
    </p>


</div>
