@page "{id}"
@model StatusModel
@{
    ViewData["Title"] = "Status";
}

<input type="hidden" id="jobId" value="@Model.Id" />
<div id="app"></div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
    <script src="~/dist/status.js" asp-append-version="true"></script>
}
